################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/test2/FileContentIndex/1a5a789b-3103-4f1a-a48a-b3c26f133e0c.vsidx
/.vs/test2/FileContentIndex/b6e04dff-4cd6-444a-86bd-7163de8e9595.vsidx
/.vs/slnx.sqlite
/.vs/test2/FileContentIndex
